.container-fluid {
    padding: 2em 0;
    color: white;
}
.centerrow{
    margin-left:10%;
    margin-right:10%;
}

.container-fluid:nth-child(even) {
    background: #516497;
}

.container-fluid:nth-child(odd) {
    background: #2b3e50;
}
.info-perso {
    padding-left: 15%;
}
.info-perso span {
    display: block;
}

.photo-profil {
    margin:0 auto;
}

.titre {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.titre::before, .titre::after {
    content: ' - ';
}

.formations span, .exp-prof span {
    display: block;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    margin: 1em;
}

.hobbie-titre {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.progress-bar, canvas {
    margin-bottom: 4em;
}