body{
    background-color: #2b3e50;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ebebeb;
}
#img-profil{
    float:right;
    margin : 5px;
}
#img-info{
    float:left;
    margin:5px;
}
#img-water{
    float:right;
    margin:5px;
}
#background-1{
    background-color: rgb(81, 100, 151);
}
#background-2{
    background-color: rgb(81, 100, 151);
}
.col-sm-12{
    background-color: rgb(81, 100, 151);
    margin-bottom: 50px;
}
.col-sm-9{
    text-align: left;
    vertical-align: middle;
}
.row{
    margin-bottom: 50px;
}